* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
input::-webkit-input-placeholder { /* WebKit browsers */
  color: #c0c4cc;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #c0c4cc;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #c0c4cc;
}
.vp-error-msg {
  display: none;
  width:auto;
  color:red;
  position: absolute;
  font-size: 12px;
  transition: all 0.3s;
  white-space: nowrap;
}
/* 插件 */
.vp-picker-pre-text{
  display: inline-block;
  padding-right:8px;
}
.vp-picker-container{
  display: inline-block;
}
.vp-picker-header{
  display: inline-flex;
  align-items: center;
  width: 180px;
  height: 30px;
  padding: 3px 10px;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  font-size: inherit;
  line-height: 40px;
  outline: none;
}
.vp-picker-header:hover{
  border: 1px solid #c0c4cc;
}
.vp-picker-header.is-active{
  border: 1px solid #409eff;
}
.vp-picker-header.is-range{
  width: 320px;
}
.vp-picker-header.error{
  border: 1px solid red;
}
.vp-picker-input-icon{
  display: inline-block;
  width: 25px;
  height: 100%;
  text-align: center;
  vertical-align: baseline;
  font-size: inherit;
  color: #c0c4cc;
  line-height: 22px;
}
.vp-picker-input-icon.icon-rili,.vp-picker-input-icon.icon-tubiao_shijian2{
  float: left;
  margin-left: -5px;
}
.is-range .vp-picker-input-icon.icon-rili,.is-range .vp-picker-input-icon.icon-tubiao_shijian2{
  margin-left: 0;
}
.vp-picker-input-icon.icon-tubiao_shijian2{
  font-size: 12px;
}
.vp-picker-input-icon.clear{
  float: right;
  margin-right: -5px;
  cursor: pointer;
}
.vp-picker-input-icon.clear::after{
  content: "";
  height: 100%;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
}
.vp-picker-input-icon.clear:hover{
  color: #409eff;
}
.vp-picker-input{
  appearance: none;
  border: none;
  outline: none;
  display: inline-block;
  height: 100%;
  line-height: 1;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  background-color: inherit;
}
.vp-picker-header.range .vp-picker-input{
  width:30%;
  padding: 0;
  text-indent: 4px;
}
.vp-picker-range-separator{
  display: inline-block;
  height: 100%;
  margin: 0 5px;
  text-align: center;
  line-height: 20px;
  font-size: inherit;
  width: 5%;
  color: #303133;
}
.vp-picker-container.disabled {
  cursor:not-allowed;
}
.vp-picker-container.disabled .vp-picker-header{
  border-color: #e4e7ed;
  background-color: #f5f7fa;
  color: #c0c4cc;
  pointer-events: none;
}
/* vp-picker-panel */
.vp-picker-panel{
  position: absolute;
  background: #fff;
  border-radius: 4px;
  width: 322px;
  box-sizing: border-box;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  top: 35px;
  border: 1px solid #e4e7ed;
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.3s, transform 0.3s;
  padding: 0;
  font-size: 12px;
  z-index: 2009;
}
.vp-picker-panel.is-range{
  width: 646px;
}
.vp-picker-body-wrapper{
  position: relative;
}
.vp-picker-body::after{
  content: "";
  display: table;
  clear: both;  
}
.is-range .vp-picker-body{
  min-width: 513px;
}
.vp-picker-con{
  position: relative;
  float: left;
  width: 100%;
  padding: 0px 15px 10px 15px;
  margin: 0;
  box-sizing: border-box;
}
.is-range .vp-picker-con{
  width: 50%;
}
.is-range .vp-picker-con.end{
  border-left: 1px solid #e4e4e4;
}
.vp-picker-mask{
  z-index: 200;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(255,255,255,.7);
  cursor:not-allowed;
  display: none;
}
/* vp-picker-con-header */
.vp-picker-con-header{
  padding-top:15px;
  height: 40px;
  line-height: 28px;
  text-align: center;
}
.vp-picker-con-header::after{
  content: "";
  width:100%;
  height:1px;
  display: block;
  clear: both;  
}
.vp-picker-con-header-btn{
  color: #303133;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  margin-top: 7px;
}
.vp-picker-con-header-btn.pre{
  float: left;
  font-size: 14px;
}
.vp-picker-con-header-btn.next{
  float: right;
  font-size: 14px;
}
.vp-picker-con-header-btn.year-10{
  display: none;
}
.vp-picker-con-header-btn.disabled{
  color: #bbb;
  cursor: not-allowed;
}
.vp-picker-con-header-label{
  font-size: 16px;
  font-weight: 500;
  padding: 0 5px;
  text-align: center;
  cursor: pointer;
  color: #606266;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}
.vp-picker-con-header-label.year-to-year{
  display: none;
  cursor: default;
}
.vp-picker-con-body{
  padding: 5px 0;
  line-height: 30px;
}
.vp-picker-con .data-table{
  table-layout: fixed;
  width: 100%;
  font-size: 12px;
  user-select: none;
}
/* vp-picker-table-day */
.vp-picker-table-day {
}
.vp-picker-table-day th {
  padding: 5px;
  color: #606266;
  font-weight: 400;
  border-bottom: 1px solid #ebeef5;
}
.vp-picker-table-day td {
  width: 32px;
  height: 30px;
  padding: 4px 0;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.vp-picker-table-day td:hover {
  color: #409eff;
}
.vp-picker-table-day td.pre-next {
  color: #c0c4cc;
}
.vp-picker-table-day td.today {
  color: #409eff;
  font-weight: 700;
}
.vp-picker-table-day td div {
  height: 30px;
  padding: 3px 0;
  box-sizing: border-box;
}
.vp-picker-table-day td span {
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 auto;
  line-height: 22px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  font-weight: inherit;
  color: inherit;
}
.vp-picker-table-day td.is-start span,.vp-picker-table-day td.is-end span {
  color: #fff;
  background-color: #409eff;
}
.vp-picker-table-day td.is-between div {
  background-color: #f2f6fc;
}
.vp-picker-table-day td.is-start.is-between div {
  margin-left: 5px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.vp-picker-table-day td.is-end.is-between div {
  margin-right: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.vp-picker-table-day td.pre-next.is-between div {
  background-color: #fff;
}
.vp-picker-table-day td.pre-next span {
  color: #c0c4cc !important;
  background-color: #fff !important;
}
/* vp-picker-table-year */
.vp-picker-table-year{
  border-top: 1px solid #ebeef5;
  margin-top:10px;
  display: none;
}
.is-range.show-month .vp-picker-table-year{
  border-top: none;
}
.vp-picker-table-year td {
  text-align: center;
  padding: 20px 3px;
  cursor: pointer;
}
.vp-picker-table-year td.today {
  color: #409eff;
}
.vp-picker-table-year td.is-start,.vp-picker-table-year td.is-end  {
  color: #409eff;
  font-weight: 700;
}
/* vp-picker-table-month */
.vp-picker-table-month{
  border-top: 1px solid #ebeef5;
  margin-top:10px;
  display: none;
}
.is-range.show-month .vp-picker-table-month{
  border-top: none;
}
.vp-picker-table-month td {
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}
.vp-picker-table-month td.today span{
  color: #409eff;
}
.vp-picker-table-month td.is-start,.vp-picker-table-month td.is-end  {
  color: #409eff;
  font-weight: 700;
}
.vp-picker-table-month td div {
  width:100%;
  height: 48px;
  padding: 6px 0;
  box-sizing: border-box;
}
.vp-picker-table-month td span {
  width: 60px;
  height: 36px;
  display: block;
  line-height: 36px;
  color: #606266;
  margin: 0 auto;
  border-radius: 18px;
  font-weight: inherit;
}
.show-month .vp-picker-table-month td.is-start div{
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.show-month .vp-picker-table-month td.is-end div{
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.show-month .vp-picker-table-month td.is-between div{
  background-color: #f2f6fc;
}
.show-month .vp-picker-table-month td.is-start span,.show-month .vp-picker-table-month td.is-end span{
  color: #fff;
  background-color: #409eff;
}
.show-month.is-range .vp-picker-table-month td.is-start div,.show-month.is-range .vp-picker-table-month td.is-end div{
  background-color: #f2f6fc;
}
.show-month .vp-picker-table-month td.is-start.today div span,.show-month .vp-picker-table-month td.is-end.today div span{
  color: #fff;
}
/* vp-picker-time */
.vp-picker-time{
  position: relative;
  border-bottom: 1px solid #e4e4e4;
  font-size: 12px;
  padding: 8px 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
.vp-picker-input-temp{
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  outline: none;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 140px;
  height: 32px;
  line-height: 32px;
}
.vp-picker-input-temp:disabled{
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  color: #c0c4cc;
  cursor: not-allowed;
}
.vp-picker-input-temp.date{
  margin-right:5px;
  cursor: default;
}
.vp-picker-input-temp.time{
  margin-left:5px;
  cursor: pointer;
}
.vp-picker-time-panel{
  border: 1px solid #e4e7ed;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  border-radius: 2px;
  position: absolute;
  width: 140px;
  height:190px;
  right: 0;
  top:42px;
  z-index: 1000;
  user-select: none;
  box-sizing: border-box;
  display: none;
  text-align: right;
}
.vp-picker-time-opt{
  position: relative;
  width: 140px;
  height:150px;
  padding:10px;
  border-bottom: 1px solid #e4e7ed;
}
.vp-picker-time-opt::before {
  content: "";
  top: 60px;
  position: absolute;
  width:110px;
  height: 30px;
  z-index: -1;
  left: 15px;
  box-sizing: border-box;
  text-align: left;
  border-top: 1px solid #e4e7ed;
  border-bottom: 1px solid #e4e7ed;
}
.vp-picker-time-btn{
  display: inline-block;
  height:40px;
  line-height: 38px;
  margin-right:10px;
  color: #409eff;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
}
.vp-picker-time-opts{
  position: absolute;
  top:0;
  width:40px;
  height:150px;
  overflow: hidden;
}
.vp-picker-time-opts.hh{
  left:10px;
}
.vp-picker-time-opts.mm{
  left:50px;
}
.vp-picker-time-opts.ss{
  left:90px;
}
.vp-picker-time-ul{
  position: absolute;
  top:0;
  width:60px;
  height:150px;
  overflow-x: hidden;
  overflow-y: auto;
}
.vp-picker-time-ul::before{
  content: "";
  display: block;
  width:40px;
  height: 60px;
}
.vp-picker-time-ul::after{
  content: "";
  display: block;
  width:40px;
  height: 60px;
}
.vp-picker-time-ul li{
  width:40px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.vp-picker-time-ul li:hover{
  color: #409eff;
}
.vp-picker-time-ul li.active{
  font-weight: 700;;
}
.vp-picker-time-ul li.active:hover{
  color: #333;
}
/* vp-picker-footer */
.vp-picker-footer{
  border-top: 1px solid #e4e4e4;
  padding:10px 15px;
  text-align: right;
  background-color: #fff;
  position: relative;
  clear:both;
}
.vp-picker-footer-btn{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 3px;
}
.vp-picker-footer-btn:hover{
  border-color: #409eff;
  color: #409eff;
}
.vp-picker-footer-btn.sure{
  margin-left:15px;
}
.vp-picker-footer-btn.sure.disabled{
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ebeef5;
  color: #c0c4cc;
}
.vp-picker-footer-btn.sure.disabled:hover{
  background-color: #fff;
  border-color: #ebeef5;
  color: #c0c4cc;
}
.ie11 .vp-picker-header{
  background-color: #fff;
}
.ie11 .vp-picker-range-separator{
  width: 9%;
}
.ie11 .vp-picker-con-header-btn{
  margin-top:0;
}